<h1>Applications</h1>
<div class="list-group" *ngFor="let row of AppsList">
    <a href="#" class="list-group-item">
        <div class="col-md-6 sm-max">
            <a href="#/user/details/{{row.id}}">{{row.location_name}} {{row.location_address}}</a>
        </div>
        <div class="col-md-4 sm-max">
            <span style="color: green">{{row.status_name}}</span>
        </div>
        <div class="col-md-2 sm-max">
            <div class="btn-group mgright-5">
                <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">Action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </a>
</div>