<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">გქანცხადებების სია</h1>    
</div>
<div class="table-responsive">    
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID#</th>
                <th>ადგილმდებარეობა</th>
                <th>სტატუსი</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of AppsList">
                <td>{{row.id}}</td>
                <td>{{row.location_address}}</td>
                <td>
                    <span style="color: green">{{row.status_name}}</span>
                </td>
                <td>
                    <a [routerLink]="['/editapp', row.id]">
                        <i class="fa fa-edit"></i> რედაქტირება
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
<!--
<div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            ქმედებები
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">რედაქტირება</a>
                            <a class="dropdown-item" href="#"></a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

-->